<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723349127652-h2dli45mnvprnq0un73vhe7djtnkcmr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723349127652-h2dli45mnvprnq0un73vhe7djtnkcmr9</string>
	<key>API_KEY</key>
	<string>AIzaSyCdhuLw3GHs-Jjl4NrKFi5fgg89hc-gMi8</string>
	<key>GCM_SENDER_ID</key>
	<string>723349127652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapExam</string>
	<key>PROJECT_ID</key>
	<string>myfirst-test-47381</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirst-test-47381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723349127652:ios:62e78263c4a1961bb087f1</string>
</dict>
</plist>